<!DOCTYPE html>
<html lang = "ja" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link rel = "stylesheet" href = "/style.css">
    <title>社員プロフィール帳</title>
</head>

<body>
    <p class = "title">社員プロフィール帳</p>
    <h2>検索条件</h2>
    <div class = "searchBox">
        <form id = "searchForm" method = "post" th:object = "${membersForm}">
            <div th:if = "${#fields.hasErrors('*')}" class = "error-message">
                <strong>！！入力エラーがあります！！</strong>
                <ul>
                    <li th:each = "error : ${#fields.errors('*')}" th:text = "${error}"></li> <!-- formに記述したエラーメッセージを表示 -->
                </ul>
            </div>
            <div class = "form-row">
                <!-- 検索項目＜氏名＞ -->
                <div class = "form">
                    <label>氏名</label>
                    <input class = "memberName" type = "text" placeholder="氏名を入力してください" th:field = "*{memberName}">     
                </div>
                <!-- 検索項目＜性別＞ -->
                <div class = "form">
                    <label>性別</label>
                    <select class = "sex" th:field="*{sex}">
                        <option value = "">-- 選択してください --</option>
                        <option value = "0">男性</option>
                        <option value = "1">女性</option>
                        <option value = "2">その他</option>
                    </select>
                </div>
                <!-- 検索項目＜社員番号＞ -->
                <div class = "form">
                    <label>社員番号</label>
                    <input class = "employeeNumber" type = "text" placeholder="社員番号を入力してください" th:field = "*{employeeNumber}">
                </div>
            </div>
            <div class = "form-row">
                <!-- 検索項目＜配属先＞ -->
                <div class = "form">
                    <label>配属先</label>
                    <input class = "bumonName" type = "text" placeholder="配属先を入力してください" th:field = "*{bumonName}">
                </div>
                <!-- 検索項目＜おごり自販機回数＞ -->
                <div class = "form">
                    <label>おごり自販機使用回数</label>
                    <select class = "vendingMachine" th:field = "*{vendingMachine}">
                        <option value="">-- 選択してください --</option>
                        <option value="0">０回</option>
                        <option value="1">１回</option>
                        <option value="2">２回</option>
                    </select>
                </div>
<!--           </div> -->
                <!-- クリア、検索ボタン -->
                <div class = "button-area">
                    <button type = "button" class = "clearButton" id = "clearBtn">クリア</button>
                    <button type = "submit" class = "searchButton" id = "searchBtn">検索</button>
                </div>
          </div>
        </form>
    </div>

    <h2>検索結果</h2>
    <table>
        <tr>
            <th>管理番号</th>
            <th>氏名</th>
            <th>性別</th>
            <th>社員番号</th>
            <th>配属</th>
            <th>おごり自販機使用回数（回）</th>
        </tr>
        <tr th:each = "membersList : ${membersList}" 
        th:classappend = "${membersList.sexLabel == '男性'} ? 'male-row' : (${membersList.sexLabel == '女性'} ? 'female-row' : 'other-row')">
            <td th:text = "${membersList.id}" th:value = "${membersList.id}"></td>
            <td th:text = "${membersList.memberName}" th:value = "${membersList.memberName}"></td>
            <td th:text = "${membersList.sexLabel}" th:valu = "${membersList.sexLabel}"></td>
            <td th:text = "${membersList.employeeNumber}" th:value = "${membersList.employeeNumber}"></td>
            <td th:text = "${membersList.bumonName}" th:value = "${membersList.bumonName}"></td>
            <td>
                <div class = "vendingMachineBtn">
                    <button type = "button" class = "decrementBtn" th:data-id = "${membersList.id}">―</button>
                    <!-- count-がないとJSで増減ボタンの仕分けができないらしい -->
                    <span th:text = "${membersList.vendingMachine}" th:id = "'count-' + ${membersList.id}"></span>
                    <button type = "button" class = "incrementBtn" th:data-id = "${membersList.id}">✚</button>
                </div>
            </td>
        </tr>
    </table>
    <div th:if = "${membersList.size() == 0}">
        <p class = "attention">検索条件に該当する人は存在しませんでした</p>
    </div>
    <div th:unless = "${membersList.size() == 0}" class = "atsuoshi">
        <a href = "https://ab7.sharepoint.com/:x:/s/ORG_ABDI/EdfAHeoIgRlKunJ6HqiHccYBlEbH4Svdt6XtOfYUIIfesQ?e=lz51hZ" target="_blank">「あつ推し」はここをクリック</a>
    </div>

    <script src = "/style.js"></script>
</body>
</html>